<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ajaxMapper">

	<select id="dupCheckEmail" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_EMAIL = #{email}
	</select>
	
	<delete id="bookCancle">
		DELETE FROM B_RESERVATION WHERE RESERVATION_NO = #{rNo}
	</delete>
	
	<delete id="reservCancle">
		DELETE FROM RESERVATION_PLACE WHERE RESERVATION_NO = #{rNo}
	</delete>
	
	<delete id="classCancle">
		DELETE FROM CLASS_PEOPLE WHERE BOARD_NO = #{boardNo}
	</delete>
	
	<delete id="bookmarkCancle">
		DELETE FROM BOOK_LIKE WHERE BOOK_NO = #{bookNo}
	</delete>

</mapper>
