<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ajaxMapper">

	<select id="dupCheckEmail" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_EMAIL = #{email}
	</select>
	
	<select id="booksLoan" resultType="map">
		SELECT BOOK_NO, BOOK_TITLE, TO_CHAR(BORROW_DT, 'YYYY-MM-DD') BORROW_DT,
			TO_CHAR(RETURN_DUE_DT, 'YYYY-MM-DD') RETURN_DUE_DT,
		<![CDATA[CASE WHEN RETURN_DUE_DT < SYSDATE THEN 'O' ELSE 'N' END STATUS]]>
		FROM BORROW
		JOIN BOOK USING(BOOK_NO)
		WHERE RETURN_DT IS NULL
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<select id="loanHistory" resultType="map">
		SELECT BOOK_NO, BOOK_TITLE, TO_CHAR(BORROW_DT, 'YYYY-MM-DD') BORROW_DT,
			TO_CHAR(RETURN_DUE_DT, 'YYYY-MM-DD') RETURN_DUE_DT,
		<![CDATA[CASE WHEN RETURN_DUE_DT < RETURN_DT THEN 'O' ELSE 'N' END STATUS]]>
		FROM BORROW
		JOIN BOOK USING(BOOK_NO)
		WHERE RETURN_DT IS NOT NULL
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<select id="reservationBook" resultType="map">
		SELECT RESERVATION_NO, BOOK_NO, MEMBER_NO,
			TO_CHAR(RESERVATION_DT, 'YYYY-MM-DD') RESERVATION_DT,
			TO_CHAR(RESERVATION_DT + 2, 'YYYY-MM-DD') "RESERVATION_DT + 2"
		FROM B_RESERVATION
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="bookRequestHistory" resultType="map">
		SELECT REQ_BOOK_NO, BOOK_TITLE, BOOK_AUTHOR, BOOK_PUB, REQ_APPROVE
		FROM BOOK_REQUEST
		WHERE MEMBER_NO = #{memberNo}
	</select>

</mapper>
