<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookMapper">

	<resultMap type="Book" id="book_rm">
		<id property="bookNo" column="BOOK_NO" />
		<result property="bookAuthor" column="BOOK_AUTHOR" />
		<result property="bookTitle" column="BOOK_TITLE" />
		<result property="bookPub" column="BOOK_PUB" />
		<result property="bookPubDate" column="BOOK_PUB_DT" />
		<result property="isbn" column="BOOK_ISBN" />
		<result property="thumbnail" column="BOOK_THUMBNAIL" />
		<result property="bookState" column="BOOK_STATE" />
		<result property="bookSupple" column="BOOK_SUPPLE" />
		<result property="returnDueDate" column="RETURN_DUE_DT" />
		<result property="resvCount" column="RESV_COUNT" />
	</resultMap>
	
	<resultMap type="BookReq" id="bookReq_rm">
		<id property="requestNo" column="REQ_BOOK_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="requestTitle" column="REQ_TITLE" />
		<result property="requestDate" column="REQ_DT" />
		<result property="requestApprove" column="REQ_APPROVE" />
		<result property="requestOpinion" column="REQ_OPINION" />
		<result property="bookAuthor" column="BOOK_AUTHOR" />
		<result property="bookTitle" column="BOOK_TITLE" />
		<result property="bookPub" column="BOOK_PUB" />
		<result property="bookPubDate" column="PUB_DT" />
	</resultMap>

	<!-- 전체 검색 -->
	<select id="selectBookList" resultMap="book_rm">
		SELECT BOOK_THUMBNAIL, BOOK_TITLE, BOOK_AUTHOR, BOOK_NO, BOOK_STATE,
			BOOK_ISBN, BOOK_SUPPLE, BOOK_PUB, BOOK_PUB_DT,
			(SELECT TO_CHAR(RETURN_DUE_DT, 'YYYY-MM-DD')
			 FROM BORROW BOR
			 WHERE B.BOOK_NO = BOR.BOOK_NO
			 	AND RETURN_DT IS NULL) RETURN_DUE_DT,
			(SELECT COUNT(*)FROM B_RESERVATION BR WHERE B.BOOK_NO = BR.BOOK_NO) RESV_COUNT
		FROM BOOK B
		WHERE
		<choose>
			<when test='key == "t"'>
				BOOK_TITLE LIKE '%${query}%'
			</when>

			<when test='key == "a"'>
				BOOK_AUTHOR LIKE '%${query}%'
			</when>

			<when test='key == "ta"'>
				(BOOK_TITLE LIKE '%${query}%' OR BOOK_AUTHOR LIKE '%${query}%')
			</when>
			
			<otherwise>
				1=1
				<if test='query != ""'>
					AND BOOK_TITLE LIKE '%${query}%'
				</if>
				
				<if test='author != ""'>
					AND BOOK_AUTHOR LIKE '%${author}%'
				</if>
				
				<if test='pub != ""'>
					AND BOOK_PUB LIKE '%${pub}%'
				</if>
				
				<if test='startYear != ""'>
					AND <![CDATA[TO_NUMBER(BOOK_PUB_DT) >= #{startYear}]]>
				</if>
				
				<if test='endYear != ""'>
					AND <![CDATA[TO_NUMBER(BOOK_PUB_DT) <= #{endYear}]]>
				</if>
				
			</otherwise>
		</choose>
		ORDER BY BOOK_NO DESC
	</select>
	
	<select id="selectLikeList" resultType="_int">
		SELECT BOOK_NO
		FROM BOOK_LIKE
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<select id="countReservation" resultType="_int">
		SELECT COUNT(*) FROM B_RESERVATION
		WHERE BOOK_NO = #{bookNo}
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<insert id="insertReservation">
		INSERT INTO B_RESERVATION VALUES(SEQ_BRESERVATION_NO.NEXTVAL, #{bookNo}, #{memberNo}, DEFAULT)
	</insert>
	
	<insert id="insertRequest">
		INSERT INTO BOOK_REQUEST VALUES
			(SEQ_RBOOK_NO.NEXTVAL, #{memberNo}, #{bookAuthor}, #{bookTitle},
			#{bookPub}, #{reqTitle}, DEFAULT, DEFAULT,
			TO_DATE(#{bookPubDate}, 'YYYY-MM-DD'), #{reqOpinion})
	</insert>
	
	<select id="getRequestCount" resultType="_int">
		SELECT COUNT(*) FROM BOOK_REQUEST
	</select>
	
	<select id="selectRequestList" resultMap="bookReq_rm">
		SELECT REQ_BOOK_NO, MEMBER_NO, MEMBER_NAME,
			REQ_TITLE, REQ_APPROVE, REQ_OPINION,
			TO_CHAR(REQ_DT, 'YYYY-MM-DD') REQ_DT
		FROM BOOK_REQUEST
		JOIN MEMBER USING(MEMBER_NO)
		ORDER BY REQ_BOOK_NO DESC
	</select>
	
	<select id="selectRequestDetail" resultMap="bookReq_rm">
		SELECT REQ_BOOK_NO, MEMBER_NO, MEMBER_NAME, BOOK_AUTHOR,
			BOOK_TITLE, BOOK_PUB,
			TO_CHAR(PUB_DT, 'YYYY-MM-DD') PUB_DT,
			REQ_TITLE, REQ_APPROVE, REQ_OPINION,
			TO_CHAR(REQ_DT, 'YYYY-MM-DD') REQ_DT
		FROM BOOK_REQUEST
		JOIN MEMBER USING(MEMBER_NO)
		WHERE REQ_BOOK_NO = #{requestNo}
	</select>
	
	<insert id="insertBookLike">
		INSERT INTO BOOK_LIKE VALUES(#{memberNo}, #{bookNo})
	</insert>
	
	<delete id="deleteBookLike">
		DELETE FROM BOOK_LIKE
		WHERE MEMBER_NO = #{memberNo}
		AND BOOK_NO = #{bookNo}
	</delete>
	
	<update id="updateRequest">
		UPDATE BOOK_REQUEST SET BOOK_AUTHOR = #{bookAuthor},
			BOOK_TITLE = #{bookTitle}, BOOK_PUB = #{bookPub}, REQ_TITLE = #{reqTitle},
			PUB_DT = #{bookPubDate}, REQ_OPINION = #{reqOpinion}
		WHERE REQ_BOOK_NO = #{requestNo}
	</update>
	
	<delete id="deleteRequest">
		DELETE FROM BOOK_REQUEST WHERE REQ_BOOK_NO = #{requestNo}
	</delete>
	
	<update id="updateApprove">
		UPDATE BOOK_REQUEST SET REQ_APPROVE = #{approval}
		WHERE REQ_BOOK_NO = #{requestNo}
	</update>

</mapper>
