<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookMapper">

	<resultMap type="Book" id="book_rm">
		<id property="bookNo" column="BOOK_NO" />
		<result property="bookAuthor" column="BOOK_AUTHOR" />
		<result property="bookTitle" column="BOOK_TITLE" />
		<result property="bookPub" column="BOOK_PUB" />
		<result property="bookPubDate" column="BOOK_PUB_DT" />
		<result property="isbn" column="BOOK_ISBN" />
		<result property="thumbnail" column="BOOK_THUMBNAIL" />
		<result property="bookState" column="BOOK_STATE" />
		<result property="bookSupple" column="BOOK_SUPPLE" />
		<result property="returnDueDate" column="RETURN_DUE_DT" />
		<result property="resvCount" column="RESV_COUNT" />
	</resultMap>

	<!-- 전체 검색 -->
	<select id="selectBookList" resultMap="book_rm">
		SELECT BOOK_THUMBNAIL, BOOK_TITLE, BOOK_AUTHOR, BOOK_NO, BOOK_STATE,
			BOOK_ISBN, BOOK_SUPPLE,
			(SELECT TO_CHAR(RETURN_DUE_DT, 'YYYY-MM-DD')
			 FROM BORROW BOR WHERE B.BOOK_NO = BOR.BOOK_NO) RETURN_DUE_DT,
			(SELECT COUNT(*)FROM B_RESERVATION BR WHERE B.BOOK_NO = BR.BOOK_NO) RESV_COUNT
		FROM BOOK B
		WHERE
		<choose>
			<when test='key == "t"'>
				BOOK_TITLE LIKE '%${query}%'
			</when>

			<when test='key == "a"'>
				BOOK_AUTHOR LIKE '%${query}%'
			</when>

			<otherwise>
				(BOOK_TITLE LIKE '%${query}%' OR BOOK_AUTHOR LIKE '%${query}%')
			</otherwise>
		</choose>
		ORDER BY BOOK_NO DESC
	</select>
	
	<select id="selectLikeList" resultType="_int">
		SELECT BOOK_NO
		FROM BOOK_LIKE
		WHERE MEMBER_NO = #{memberNo}
	</select>


</mapper>
