<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="foodMapper">

	<resultMap type="Food" id="food_rm">
		<id property="foodNo" column="FOOD_NO"/>
		<result property="typeNo" column="TYPE_NO"/>
		<result property="foodName" column="FOOD_NAME"/>
		<result property="foodPrice" column="FOOD_PRICE"/>
		<result property="foodImg" column="FOOD_IMG"/>
		<result property="foodDes" column="FOOD_DES"/>
	</resultMap>

	<select id="selectFoodList" resultMap="food_rm">
		SELECT * FROM FOOD 
		WHERE FOOD_DEL_ST = 'N'
	</select>
	
	
	<insert id="insertFoodMenu">
		INSERT INTO FOOD VALUES(SEQ_FOOD_NO.NEXTVAL, 1, #{foodName}, DEFAULT, DEFAULT, #{foodImg}, null)
	</insert>
	
	<update id="delFoodMenu">
		UPDATE FOOD SET FOOD_DEL_ST='Y' WHERE FOOD_NO=${foodNo}
	</update>
	
	<select id="selectMealList" resultMap="food_rm">
		SELECT * FROM FOOD 
		WHERE FOOD_DEL_ST = 'N'
		AND TYPE_NO = ${typeNo}
	</select>
	
	<update id="updateMealMenu">
		UPDATE FOOD SET FOOD_NAME=#{foodName} WHERE FOOD_NO=${foodNo}
	</update>
	
	<update id="updateSnackMenu">
		UPDATE FOOD SET FOOD_NAME=#{foodName}, FOOD_IMG=#{foodImg} WHERE FOOD_NO=${foodNo}
	</update>
	
	<insert id="insertCafeMenu">
		INSERT INTO FOOD VALUES(SEQ_FOOD_NO.NEXTVAL, 2, #{foodName}, ${foodPrice}, DEFAULT, #{foodImg}, #{foodDes})
	</insert>
	
	<update id="updateMenu">
		UPDATE FOOD 
		SET FOOD_NAME=#{foodName}, FOOD_IMG=#{foodImg}, FOOD_DES=#{foodDes}, FOOD_PRICE=${foodPrice}
		WHERE FOOD_NO=${foodNo}
	</update>
</mapper>
