<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="foodMapper">

	<select id="selectFoodList" resultType="map">
		SELECT * FROM FOOD 
		WHERE TYPE_NO IN (0, 1)
		AND FOOD_DEL_ST = 'N'
	</select>
	
</mapper>
