<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="introMapper">

	<select id="selectCategoryList" resultType="map">
		SELECT LEVEL , C.* FROM
		    (SELECT * FROM CATEGORY) C
		START WITH PARENT_CODE IS NULL
		CONNECT BY PRIOR CAT_CODE = PARENT_CODE
		ORDER SIBLINGS BY PARENT_CODE
	</select>

</mapper>
