<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberPw" column="MEMBER_PW"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberPhoneNo" column="MEMBER_PNO"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="memberDateOfBirth" column="MEMBER_DOB"/>
		<result property="memberAddress" column="MEMBER_ADDR"/>
		<result property="memberDeleteFlag" column="MEMBER_DEL_FL"/>
		<result property="enrollDate" column="ENROLL_DT"/>
		<result property="authority" column="AUTHORITY"/>
		<result property="loanBook" column="LOAN_BOOK"/>
		<result property="overdueBook" column="OVERDUE_BOOK"/>
		<result property="resvBook" column="RESV_BOOK"/>
	</resultMap>
	
	<insert id="signUp">
		INSERT INTO MEMBER VALUES(
			SEQ_MEMBER_NO.NEXTVAL,
			#{memberEmail},
			#{memberPw},
			#{memberName},
			#{memberPhoneNo},
			#{memberGender},
			#{memberDateOfBirth},
			#{memberAddress},
			DEFAULT,
			DEFAULT,
			DEFAULT
		)
	</insert>

	<select id="login" resultMap="member_rm">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NAME, MEMBER_PW,
			MEMBER_PNO, MEMBER_ADDR, MEMBER_GENDER, MEMBER_DOB,
			MEMBER_ADDR, AUTHORITY, MEMBER_DEL_FL,
			TO_CHAR(ENROLL_DT, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DT,
			(SELECT COUNT(*) FROM BORROW B
				WHERE RETURN_DT IS NULL
				AND M.MEMBER_NO = B.MEMBER_NO) LOAN_BOOK,
			(SELECT COUNT(*) FROM BORROW B
				WHERE RETURN_DT IS NULL
				AND <![CDATA[RETURN_DUE_DT < SYSDATE]]>
				AND M.MEMBER_NO = B.MEMBER_NO) OVERDUE_BOOK,
			(SELECT COUNT(*) FROM B_RESERVATION BR
				WHERE <![CDATA[RESERVATION_DT + 2 < SYSDATE]]>
				AND M.MEMBER_NO = BR.MEMBER_NO) RESV_BOOK
		FROM MEMBER M
		WHERE MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<select id="findId" resultType="string">
		SELECT MEMBER_EMAIL FROM MEMBER
		WHERE MEMBER_DEL_FL = 'N'
		AND MEMBER_NAME = #{memberName}
		AND MEMBER_PNO = #{memberPhoneNo}
	</select>
	
	<update id="resetPw">
		UPDATE MEMBER SET MEMBER_PW = #{memberPw}
		WHERE MEMBER_DEL_FL = 'N'
		AND MEMBER_EMAIL = #{memberEmail}
	</update>
	
	<select id="getMemberCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE AUTHORITY = 1
	</select>
	
	<select id="selectMemberList" resultMap="member_rm">
		SELECT MEMBER_NO, MEMBER_NAME, MEMBER_DEL_FL,
			SUBSTR(MEMBER_DOB, 1, 4) || '-' ||
			SUBSTR(MEMBER_DOB, 5, 2) || '-' ||
			SUBSTR(MEMBER_DOB, 7, 2) MEMBER_DOB,
			TO_CHAR(ENROLL_DT, 'YYYY-MM-DD') ENROLL_DT
		FROM MEMBER
		WHERE AUTHORITY = 1
		ORDER BY MEMBER_NO
	</select>

</mapper>
