<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myLibraryMapper">

	<select id="getLoanHistory" resultType="_int">
		SELECT COUNT(*) FROM BORROW
		JOIN BOOK USING(BOOK_NO)
		WHERE RETURN_DT IS NOT NULL
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<select id="getReservationBook" resultType="_int">
		SELECT COUNT(*) FROM B_RESERVATION
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="getBookRequestHistory" resultType="_int">
		SELECT COUNT(*) FROM BOOK_REQUEST
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="getReadingRoomReserv" resultType="_int">
		SELECT COUNT(*) FROM BOOK_REQUEST
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="getSeminarReserv" resultType="_int">
		SELECT COUNT(*) FROM BOOK_REQUEST
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="getClassRegist" resultType="_int">
		SELECT COUNT(*) FROM BOOK_REQUEST
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="getPayment">
		SELECT COUNT(*) FROM PAY
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<select id="booksLoan" resultType="map">
		SELECT BOOK_NO, BOOK_TITLE, TO_CHAR(BORROW_DT, 'YYYY-MM-DD') BORROW_DT,
			TO_CHAR(RETURN_DUE_DT, 'YYYY-MM-DD') RETURN_DUE_DT,
		<![CDATA[CASE WHEN RETURN_DUE_DT < SYSDATE THEN 'O' ELSE 'N' END STATUS]]>
		FROM BORROW
		JOIN BOOK USING(BOOK_NO)
		WHERE RETURN_DT IS NULL
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<select id="loanHistory" resultType="map">
		SELECT BOOK_NO, BOOK_TITLE, TO_CHAR(BORROW_DT, 'YYYY-MM-DD') BORROW_DT,
			TO_CHAR(RETURN_DUE_DT, 'YYYY-MM-DD') RETURN_DUE_DT,
			TO_CHAR(RETURN_DT, 'YYYY-MM-DD') RETURN_DT,
		<![CDATA[CASE WHEN TRUNC(RETURN_DT) > TRUNC(RETURN_DUE_DT) THEN 'O' ELSE 'N' END STATUS]]>
		FROM BORROW
		JOIN BOOK USING(BOOK_NO)
		WHERE RETURN_DT IS NOT NULL
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<select id="reservationBook" resultType="map">
		SELECT RESERVATION_NO, BOOK_NO, BOOK_TITLE, MEMBER_NO,
			TO_CHAR(RESERVATION_DT, 'YYYY-MM-DD') RESERVATION_DT,
			TO_CHAR(RESERVATION_DT + 2, 'YYYY-MM-DD') "RESERVATION_DT_E"
		FROM B_RESERVATION
		JOIN BOOK USING(BOOK_NO)
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY RESERVATION_NO
	</select>
	
	<select id="bookRequestHistory" resultType="map">
		SELECT REQ_BOOK_NO, BOOK_TITLE, BOOK_AUTHOR, BOOK_PUB, REQ_APPROVE
		FROM BOOK_REQUEST
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="readingRoomReserv" resultType="map">
	
		SELECT 1 FROM DUAL
	</select>
	
	<select id="seminarReserv" resultType="map">
		SELECT 1 FROM DUAL
	</select>
	
	<select id="classRegist" resultType="map">
		SELECT 1 FROM DUAL
	</select>
	
	<select id="payment" resultType="map">
		SELECT FOOD_NAME, FOOD_QTY, PAY_DATE , FOOD_PRICE * FOOD_QTY FOOD_PRICE
		FROM PAY
		JOIN FOOD USING(FOOD_NO)
		WHERE MEMBER_NO = #{memberNo}
	</select>

</mapper>
