<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">

	<update id="update">
		UPDATE MEMBER SET MEMBER_NAME = #{memberName},
		MEMBER_PNO = #{memberPhoneNo},
		MEMBER_ADDR = #{memberAddress}
		WHERE MEMBER_DEL_FL = 'N'
		AND MEMBER_NO = #{memberNo}
	</update>
	
	<select id="selectEncPw" resultType="string">
		SELECT MEMBER_PW FROM MEMBER WHERE MEMBER_NO = ${memberNo}
	</select>
	
	<update id="changePw">
		UPDATE MEMBER SET MEMBER_PW = #{encode}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="getBoardCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD
		WHERE MEMBER_NO = #{memberNo}
		AND BOARD_DEL_FL = 'N'
	</select>
	
	<select id="selectBoardList" resultType="map">
		SELECT BOARD_NO, BOARD_TITLE, CAT_CODE,
			TO_CHAR(B_CREATE_DT, 'YYYY-MM-DD') B_CREATE_DT
		FROM BOARD B
		WHERE MEMBER_NO = #{memberNo}
        AND BOARD_DEL_FL = 'N'
		ORDER BY BOARD_NO DESC
	</select>
	
	<select id="getCommentCount" resultType="_int">
		SELECT COUNT(*) FROM "COMMENT"
		WHERE MEMBER_NO = #{memberNo}
		AND COMMENT_DEL_FL = 'N'
	</select>
	
	<select id="selectCommentList" resultType="map">
		SELECT COMMENT_NO, COMMENT_CONTENT,
			TO_CHAR(C_CREATE_DT, 'YYYY-MM-DD') C_CREATE_DT
		FROM "COMMENT"
		WHERE MEMBER_NO = #{memberNo}
        AND COMMENT_DEL_FL = 'N'
		ORDER BY BOARD_NO DESC
	</select>
	
	<update id="secession">
		UPDATE MEMBER SET
		MEMBER_DEL_FL = 'Y'
		WHERE MEMBER_NO = ${memberNo}
	</update>

</mapper>
