/* 공통 부분 */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
} 

.main{
	width: 1024px;
	display: flex;
	justify-content:space-between;
}

.main-content{
	margin-top:70px;
	width: 750px;
}

/* 제목 */
.content-title{
    font-size: 40px;
    font-weight : 800;
}

/* 선 */
.title-line{
    width: 100%;
    border: 3px solid #d4d4d4;
    margin: 40px 0;
}


/* content-detail-area */
.content-detail-area{
	margin-top:50px;
}

/* 공통 부분 끝 */

/* 결제 구매 버튼 영역 */
.cafe-btn-area {
	display: flex;
	justify-content:end;
	align-items: center;
}

#pay-btn{
	padding: 10px;
	background-color: white;
	border: 2px solid #8FB788;
	border-radius: 10px;
	color: #8FB788;
	font-weight: bold;
	cursor: pointer;
}

#pay-btn:hover{
	background-color: #8FB788;
	color: white;
}


/* menu detail 영역 */
.cafe-menu{
	display: flex;
	flex-wrap: wrap;
	max-width:760px;
    flex-direction: row;
    justify-content: flex-start;
    margin-top:10px;
    gap: 20px 75px;
}

.cafe-menu-area a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cafe-menu-area  img{
	max-width:200px;
	margin-bottom: 10px;
}

.cafe-menu-area  p {
	font-size: 15px;
}

.cafe-menu-area  p:first-of-type{
	font-weight: 800;
}

/*  cafe 모달 */
.mcafe-popupBox{
	width: 850px !important;
}

.popup_content .mcafe{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.popup_content .mcafe .mcafe-menu-area p:first-child{
	color: #8FB788;
	word-break: break-word;
	margin-right: 10px;
}

/* 모달 메뉴 보여주는 곳 */
.popup_content .mcafe .mcafe-menu-area{
	display: flex;
	width: 50%;
}

.popup_content .mcafe .mcafe-menu-list{
	width: 80%;
	height: 250px;
	overflow-y : scroll;
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 8px;  /* 세로축 스크롤바 폭 너비 */
}

/* 스크롤바 막대 */
::-webkit-scrollbar-thumb {
    background: #8FB788; /* 스크롤바 막대 색상 */
    border: 2px solid #8FB788; /* 스크롤바 막대 테두리 설정  */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #008c1d; /* 스크롤바 막대 색상 */
	cursor: pointer;
}

/* 스크롤이 움직이는 뒷 배경 */
::-webkit-scrollbar-track {
	background: #ddf8d7; /* 스크롤바 뒷 배경 색상 */
	border-radius: 10px;
}

.popup_content .mcafe .mcafe-menu-area .mcafe-menu{
	display: flex;
	width: 100%;
	padding: 10px 0;
}

.popup_content .mcafe .mcafe-menu-area .mcafe-menu:hover{
	background-color: #d4d4d4;
	cursor: pointer;
}

.popup_content .mcafe .mcafe-menu-area .mcafe-menu img{
	max-width: 150px;
	max-height: 100px;
}

.popup_content .mcafe .mcafe-menu .mcafe-menu-detail {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap:5px;
}

.popup_content .mcafe .mcafe-menu .mcafe-menu-detail span{
	font-size: 10px;
}


.mcafe-menu .mcafe-menu-detail .mcafe-menu-price{
	display: flex;
	justify-content: end;
}

.mcafe-menu .mcafe-menu-detail h4,
.mcafe-menu .mcafe-menu-detail .mcafe-menu-price span{
	font-size: 15px !important;
	font-weight: 800;
}

/* 모달 장바구니 보여주는 곳 */
.mcafe .mcafe-cart-area{
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.mcafe .mcafe-cart-area .mcafe-cart{
	display: flex;
	width: 100%;
	height: 80%;
	justify-content: space-between;
}

.mcafe .mcafe-cart-area .mcafe-cart-list{
	box-shadow: 1px 1px 1px 1px #d4d4d4;
	border-radius: 10px;
	width: 70%;
	height: 200px;
	overflow-y:  auto;
	margin: 0 10px;
}

.mcafe .mcafe-cart-area .mcafe-cart-list table{
	width: 100%;
}

.mcafe .mcafe-cart-area .mcafe-price{
	display: flex;
	justify-content: space-between;
}

.mcafe .mcafe-cart-area .mcafe-cart p:first-child,
.mcafe .mcafe-cart-area .mcafe-price p:first-child{
	color: #8FB788;
	word-break: break-word;
}


.mcafe-cart-area .mcafe-cart .mcafe-cart-menu{
	display: flex;
	justify-content: space-between;
	padding: 20px 10px;
	width: 100%;
}

.mcafe-cart .mcafe-cart-menu .meal-ticket-btnArea #qty-result,
.mcafe-cart-area .mcafe-cart .mcafe-cart-menu span{
	font-size: 13px;
	color: black !important;
	font-weight: 800;
}

.mcafe-cart .mcafe-cart-menu .meal-ticket-btnArea input,
.mcafe-cart-area .mcafe-cart .mcafe-cart-menu #cancelBtn{
	border: 0;
	background-color: #8FB788;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	font-size: 15px;
}

.mcafe-cart .mcafe-cart-menu .meal-ticket-btnArea input:hover,
.mcafe-cart-area .mcafe-cart .mcafe-cart-menu #cancelBtn:hover{
	background-color: #008c1d;
}

.mcafe-cart .mcafe-cart-menu .meal-ticket-btnArea{
	display: flex;
	align-items: center;
}