*{
    padding: 0;
    margin: 0;
}

/* body 전체 */
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* 사이즈 테두리 부분 포함 */
    box-sizing: border-box;
}

/* 예약 시스템 header 시작*/
header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    position: sticky;
    align-items: center;
    background-color: #0054b4;
}


#homeLogo{
    height: 100px;
    padding-right: 10px;
}

nav{
    width: 1200px;
    height: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

header>nav>ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header> nav> ul >li{
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
}

header> nav> ul:first-child >li>a {
    display: flex;
    align-items: center;
}


header>nav>ul>li>a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}

/* 헤더 메뉴 */
.header-top-menu{
    position: absolute;
    right: 10px;
    top: 5px;
}

.header-top-menu *{
    font-size: 15px;
    font-weight: bold;
}

/* 헤더 메뉴 체크박스 */
#headerMenuToggle{ display: none;}

/* 오른쪽 상단 닉네임 부분 */
label[for='headerMenuToggle']{ cursor: pointer; color:white}
label[for='headerMenuToggle']:hover{ text-decoration: underline;}

/* 체크박스 다음 형제 요소 div */
#headerMenuToggle + div{ display: none;}

/* 체크된 #headerMenuToggle의 다음 형제 요소 div */
#headerMenuToggle:checked + div{ display: block;}

/* 닉네임 클릭 시 보이는 메뉴 */
.header-menu{
    position: absolute;
    width: 100px;
    height: 80px;
    right: 0;
    margin-top: 5px;
    border: 1px solid black;
    background-color: white;
}

.header-menu > a {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    color : black;
    text-decoration : none;

}

.header-menu > a:first-child{
    border-bottom: 1px solid black;
}

.header-menu > a:hover{
    background-color: #80afe1;
    color: white;
}
/* 예약 시스템 header 끝*/



/* 내용 영역 */
.main-content-suround-section{
    width: 1024px;
    display: flex;
    justify-content: space-between;
    
    flex-direction: column; /*  */
}

/* 페이지 메인 내용 section */
.content-suround-section{
    width: 100%;
}


.content-suround-section > div:nth-child(1){
    border-bottom: 3px solid #0054b4;
    margin: 20px 0;
    padding-bottom: 20px;
}

.content-suround-section span{
    font-size: 24px;
    margin-right: 10px;
}




/* 달력 해더 css */
.fc-col-header-cell{
    background-color: #0054b4;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

/* 요일별 css */
.fc-day-fri a{
    color: #d4d4d4;
    font-size: 15px;
}

.fc-day-sun a{
    color: #ef4e4e69;
    font-size:15px;
}

.fc-day-sat a{
color: rgba(0, 4, 255, 0.3);
font-size:15px;
}

.surround-calendar-area{
    flex-basis: 55%;
    position: relative;
}

/* 달력 버튼 영역 */
.calendar-btn-area{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.calendar-btn-area div{
    width: 40px;

    text-align: center;

    border: 1px solid #0054b4;
    border-radius: 5px;

    background-color: white;
    color: #0054b4;
    box-shadow: 2px 2px 3px #d4d4d4;

    padding: 10px;
    margin: 0 10px 0 0;
    cursor: pointer;
    transition-duration: 0.3s;
}

.calendar-btn-area div:hover{
    background-color: #0054b4;
    color: white;
    cursor: pointer;
}

#date-div{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

.surround-calendar-area{
    margin-bottom: 20px;
}

/* 타임슬롯 테이블 */
.time-slot-table{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.time-slot-table>div{
    border: 1px solid #ddd;
    width: 168px;
    height: 80px;

    cursor: pointer;

    text-align: center;
    line-height: 80px;
}


.time-slot.booked {
    background-color: #ccc;
    cursor: not-allowed;
}

.time-slot.available {
    background-color: white;
}

.time-slot.selected {
    background-color: #007bff;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* 예약 버튼 */
.button-area{
    display: flex;
    justify-content: end;
    align-items: center;
}

.button-area button{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    outline: 0;
    border: 0;

    cursor: pointer;

    background-color: #0054b4;
    color: white;
}

.button-area button:hover{
    background-color: #80afe1;
    cursor: pointer;
}
 


/* footer 영역 */
footer{
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background-color: #80afe1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



footer > article > *{
    font-size: 14px;
}

footer a{
    color:white;
    text-decoration: none;
}

footer span{
    color: white;
    padding : 0 10px;
}

footer > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > div > img{
    margin: 20px;
    max-width: 100px;
    max-height: 100px;
}

footer > div > div > p{
    font-size: 12px;
    color: white;
    margin: 5px;
}