.swiper-container{
    width: 688px;
    border-radius: 5px;
    overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  position: relative;
  overflow: hidden;
  
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  min-height: 300px;
  /* max-height: 300px; */

  position: absolute;

  /* object-fit: cover; */
}

/* 이전 다음 버튼 */
.swiper-button-next, .swiper-button-prev{
  color: #0054B4;
  font-weight: bolder;
}

/* 아래 동그라미 */
.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, #0054b4);
}