form[name='findIdFrm']{
	margin: 50px auto;
	width: 500px;
}

.findId-logo{
	font-size: 40px;
	font-weight: bold;
	line-height: 100px;
	text-align: center;
	margin-bottom: 50px;
}

.findId-logo > img{
	height: 100px;
	vertical-align: top;
}

.findId-input-area{
	display: flex;
	justify-content: space-between;
	height: 60px;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 500;
	line-height: 60px;
}

.findId-input-area > input{
	width: 70%;
	height: 100%;
	padding: 0 20px;
	font-size: 30px;
	border: 1px solid black;
	border-radius: 10px;
}

.findId-message{
	font-size: 14px;
    letter-spacing: -1px;
    padding-left: 5px;
}

.btn-area{
	display: flex;
	justify-content: center;
}

.btn-area > button{
	width: 200px;
	height: 70px;
	margin-top: 50px;
	border: 1px solid black;
	border-radius: 30px;
	background-color: #0054B4;
	font-size: 25px;
	color: white;
	cursor: pointer;
}

.confirm{color: green;}
.error{color:red}