*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main{
	width: 1024px;
	display: flex;
	justify-content:space-between;
}

.main-content{
	margin-top:70px;
	width: 750px;
}

/* 제목 */
.content-title{
    font-size: 40px;
    font-weight : 800;
}

/* 선 */
.title-line{
    width: 100%;
    border: 3px solid #d4d4d4;
    margin: 40px 0;
}

/* 소제목 */
.meal-title{
	font-size: 20px;
	font-weight: 800;
}


/* content-detail-area */
.content-detail-area{
	margin-top:50px;
}

/* 백반 */


