/* 제목 */
.content-title{
    font-size: 40px;
    font-weight : 800;
}

/* 선 */
.title-line{
    width: 100%;
    border: 3px solid #d4d4d4;
    margin: 40px 0;
}

/* slide-area */
.class-list{
    border-top: 1px solid #008C1D;
    border-bottom: 1px solid #008C1D;
}

.content-subtitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* 검색 시작 */
.search-area fieldset{
    border: 2px solid black;
    padding : 2px;
    border-radius: 5px;
    display: flex;
}

#searchQuery{
    border : none; /* 테두리 없애기 */
    outline : 0;
    font-size: 18px;
    font-weight: bold;
    padding : 10px;

    width: 80%;
}

#searchBtn{
    width: 8%;
    cursor: pointer;
    border : none;

    font-size: 1.2em;
    color : black;
    background-color: white;
}


#boardSearch{
    width: 400px;
    height: 30px;
    margin: 30px auto;

    display: flex;
    justify-content: space-between;
}

#boardSearch select{
    width: 100px;
    outline: 0;
    border: 0;
    text-align: center;
}

/* 검색 끝 */
