* {
	margin: 0;
	padding: 0;
}


.main {
	width: 1024px;
	display: flex;
	justify-content: space-between;
}

.main-content {
	margin-top: 70px;
	width: 750px;
}

.main-title {
	font-size: 40px;
	margin-bottom: 40px;
}

.titleLine{
	border:2px solid black;
}

.body-title{
	margin-top:40px;
	margin-bottom: 40px;
	font-size: 24px;
}
.apply-box{
	display:flex;
	width:100%;
	border:1px solid #ddd;
	height:90px;
	margin-bottom:30px;
}
.apply-box-img{
	border-right: 1px solid #ddd;
	width:20%;
}
.apply-box-index{
	display:flex;
	align-items: center;	
	
}
.apply-box-index > p {
	margin-left: 10px;
	margin-right: 10px;
}

.apply-book-details{
	margin-bottom: 30px;
}

.apply-book-details > ul > li{
	margin-left:30px;
}
.apply-area{
	display: flex;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 100%;
	background-color: #d4d4d4;
	height: 50px;
	
}
.apply-text{
	margin-top:15px;
	margin-left:15px;
	margin-right:15px;
}
.last-line{
	margin-bottom:30px;
}
.line{
	width:40px;
	border: 1px solid #8FB788;
}

#apply-btn{
	background-color: white;
	color : #8FB788;
	border: 1px solid #8FB788;
	cursor: pointer;
	height: 40px;	
	width: 60px;
	margin:auto;
	border-radius:5px;
	
}

#request-btn{
	background-color: #8FB788;
	color : white;
	border: #8FB788;
	cursor: pointer;
	height: 40px;	
	margin: auto;
	width: 60px;
	border-radius:5px;
}



.request-form{
	margin-top:30px;
}

table, tr, th, td	{
	border: 1px solid #ddd;
}

table {
	width: 100%;
	border-collapse: collapse;
}
table th{
	text-align:center;
	width: 120px;
	height: 60px;
	color: white;
	background-color: #8FB788;
}


.opinion{
	height: 200px;
}

.btn-area{
	background-color: #ddd;
	display: flex;
	justify-content: center;
	margin-top: 30px;
}