* {
	margin: 0;
	padding: 0;
}

#searchBtn{
	cursor: pointer;
	background-color: white;
	height:40px;
	font-size:16px;
	border:none;
	
}
#searchDetailBtn {
	cursor: pointer;
	background-color: #8FB788;
	height:40px;
	font-size:16px;
	border: #8FB788;
	border-radius: 5px;
	color: white;
	width:80px;
	
}
.btnArea_a{
	margin-right:10px;
}

.btnArea_b{
	margin-left:20px;
}
.main {
	width: 1024px;
	display: flex;
	justify-content: space-between;
}

.main-content {
	margin-top: 70px;
	width: 750px;
}

.main-title {
	font-size: 40px;
	margin-bottom: 40px;
}

.searchForm {
	position: relative;
	width: 100%;
	margin-bottom: 40px;
	margin-left: 90px;
}

.searchBar {
	display: flex;
	border: 1px solid black;
	height: 42px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}

#searchKey {
	height: 38px;
	border: 0;
}

input {
	width: 500px;
	padding: 10px 12px;
	font-size: 14px;
	height: 40px;
	border-width: 0;
	border: none;
	outline: none;
	
}

.searchInput {
	display: flex;
}



.searchDetailBtn {
	background-color: #8FB788;
	border-radius: 5px;
}

#searchDetailBtn {
	border: 0;
}

.body-content-mid {
	height: 300px;
	text-align: center;
	border: 1px solid green;
}

.body-content-bot {
	height: 300px;
	text-align: center;
	border: 1px solid black;
}

/*기본 페이지 */
.body-content {
	weight:800px;
	height: 1000px;
}

.searchFormDetail {
	border: 1px solid #8FB788;
	height: 400px;
	display: flex;
}

.detailItem {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center; width : 100px;
	margin-top: 30px;
	width: 100px;
}

.details, .detailsYear, .detailsAlign, .detailsCount {
	margin-bottom: 30px;
	font-size: 18px;
	margin-left: 15px;
	width: 100px;
}

.detailInput {
	margin-left: 30px;
}

.details {
	height: 150px;
	line-height: 7;
	margin-bottom: 35px;
}

.searchDetail, .searchAuthor, .searchPublisher {
	margin-top: 30px;
}

.searchTitle, .searchAuthor, .searchPublisher {
	display: flex;
}

.bookTitle, .author, .publisher {
	border: 1px solid #8FB788;
	height: 30px;
	width: 70px;
	text-align: center;
	font-size: 12px;
	line-height: 26px;
	border-radius: 5px;
}

.input {
	margin-left: 30px;
}

.detailsTitle {
	display: flex;
}

#inputDetail {
	width: 400px;
	padding: 10px 12px;
	font-size: 12px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #8FB788;
}

#inputYear {
	width: 100px;
	padding: 0;
	font-size: 12px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #8FB788;
	margin-top: 42px;
}

.searchAlign {
	margin-top: 28px;
}

.searchPrint {
	margin-top: 22px;
}

select {
	width: 100px;
	height: 38px;
	padding-left: 8px;
	font-family: inherit;
	border-radius: 5px;
	border:none;
	
}

.btn-area {
	display: flex;
	justify-content: center;
}

.index-btn, .refresh-btn {
	margin: 10px;
}

#index-btn{
	width: 80px;
	margin: 10px;
	padding: 0.5rem 1rem;
	background-color: #8FB788;
	color: white;
	cursor: pointer;
	border: 0.5px solid #8FB788;
	outline: 0;
	border-radius: 5px;
	text-decoration: none;
}
#refresh-btn{
	width: 80px;
	margin: 10px;
	padding: 0.5rem 1rem;
	background-color: white;
	color: #8FB788;
	cursor: pointer;
	border: 0.5px solid #8FB788;
	border-radius: 5px;
	text-decoration: none;
}

/*자료 검색 페이지*/
.searchBody{
	display:flex;
	margin-top:30px;
	height:100px;
}
.index{
	width:20px;
}
.bookThumbnail{
	width:140px;
}
.bookDetail{
	margin-left:30px;
	width:800px;
}
.bookDetailState{
	width: 500px;
	display:flex;
}
.bookDetailStateTextY{
	display:flex;
	color:green;
	width: 200px;
}
.bookDetailStateTextN{
	display:flex;
	color:red;
	width:200px;
}
.informBtn{
	margin-left: 50px;
}

table{
	border :1px solid #d4d4d4;
	margin-left:20px;
	margin-bottom:30px;
	width:700px;
	text-align: center;
}

table thead{
	background-color: #8FB788;
	height:40px;
}
table thead tr th:nth-child(n+5){
	width:70px;
}
table tbody{
	height:80px;
}
table tbody td{
	border:1px solid #d4d4d4;
}
table tbody td:nth-child(n+5){
	width:70px;
}

#informBtn{
	background-color : white;
	color: black;
	border: 1px solid black;
	width: 120px;
	cursor:pointer;
}
#informBtn:hover {
	background-color:#d4d4d4;
	cursor:pointer;
}

.favoriteStar {
    width: 30px;
    height: 30px;
    background-color: #d4d4d4; /* 버튼 배경 색상 (노란색) */
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}

.favoriteStar:hover {
    background-color: #FFD700; /* 호버 시 배경 색상 변경 (주황색) */
}

#reservationBtn{
	border:none;
	background-color: #8FB788;
	color: white;
	cursor: pointer;
	border-radius : 5px;
	border: 1px solid #8FB788;
	width: 60px;
}
#reservationBtn:hover {
	border:none;
	background-color: white;
	color: #8FB788;
	cursor: pointer;
	border: 1px solid #8FB788;	
}

/* 모달 전체 배경 */
.modal {
	position:fixed;
	top:0;
	left:0;
	z-index: 10000; 
	width: 100%; 
	height: 100%; 
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}



/* 도서 예약 모달 */
.popup_box_res{
	position: relative;
	top:50%;
	left:50%; 
	width:800px;
	height: 350px;
	transform:translate(-50%, -50%);
	z-index:1002;
	box-sizing:border-box;
	background:#fff;
	box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
	border-radius:10px;
}
.popup_content_top{
	margin-bottom: 10px;
}

.popup_content_top #message_box{
	font-size: small;
	text-align: left;
	padding-left: 20px;
}


.popup_content_bar{
	border:1px solid #d4d4d4;
}

.popup_content_mid{
	width:100%;
	display: flex;
	padding-left: 20px;
}
.popup_content_left{
	width:30%;
	height: 180px; 
	border: 0.5px solid #ddd;
}
.popup_content_right{
	width: 30%;
	padding-left:10px;
	height: 180px; 
}
.detailBox{
	width: 40%;
	height: 180px;
	margin-right:10px;
}
.detailBox h2{
	margin-bottom:10px;
}
.detailBox ul li{
	list-style-type: none;
	font-size:14px;
	margin-bottom:3px;
}
.popup_content_right >h2 {
	padding-bottom:10px;
}
.popup_content_right > p{
	font-size:14px;
	padding-bottom: 4px;
}
.popup_btn{
	display: flex;
	justify-content: center;
	margin-top:10px;
}
.popup_btn button{
	width: 100px;
	height: 50px;
	margin-right:20px;
}
.popup_btn #confirm_btn{
	background-color : #8FB788;
	color : white;
	border-radius: 10px;
	border : none;
	font-weight : 800;
}
.popup_btn #cancel_btn{
	border : 2px solid #8FB788;
	background-color : white;
	color :#8FB788;
	border-radius: 10px;
	font-weight : 800;
}
.popup_btn #confirm_btn:hover{
	cursor : pointer;
	box-shadow: 1px 1px 1px 1px gray;
	background-color: #008c1d;
}
.popup_btn #cancel_btn:hover{
	cursor : pointer;
	color: white;
	box-shadow: 1px 1px 1px 1px gray;
	background-color: #d4d4d4;
	border: none;
}


