table {
	border: 1px solid #d4d4d4;
	border-collapse: collapse;
	border-spacing: 0;
}

thead {
	background-color: #8FB788;
	border: 1px solid #d4d4d4;
}

thead>tr {
	border: 1px solid #d4d4d4;
}

thead>tr>th {
	border: 1px solid #d4d4d4;
	padding: 10px;
}

thead>tr>th:nth-child(1) {
	width: 20%;
}

thead>tr:nth-child(2)>th:nth-child(1) {
	width: 20%;
}

thead>tr:nth-child(2)>th:nth-child(2) {
	width: 20%;
}

thead>tr>th:nth-child(3) {
	width: 20%;
}

tbody>tr>td {
	text-align: center;
	border: 1px solid #d4d4d4;
	padding: 10px;
}