.suround-map {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.suround-map > div {
	margin-right: 20px;
}

.map-btn {
	width: 100px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	color: #555;
	margin: 10px;
	cursor: pointer;
}

.map-btn:hover {
	background-color: #008c1c22;
}

.real-map {
	display: none;
}

.real-map>img {
	border: 3px solid black;
	max-width: 550px;
	max-height: 385px;
}

.real-map.current {
	display: block;
}

.map-btn.current {
	border: 0;
	background-color: #008C1D;
	color: white;
}