#calendar{
    width: 100%;
    height: 600px;  
}


.cate-button-surround{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-category{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.category-color{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    margin-right: 10px;
}

.gong{background-color: red;}
.hue{background-color: #d4d4d4;}
.classDay{background-color: yellow;}
.eventDay{background-color: #5547ff;}

#calendar-edit-btn{
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: #5547ff;
    color: white;
    cursor: pointer;
    transition-duration: 0.3s ;
}

#calendar-edit-btn:hover{
    color: black;
    background-color: #5647ff77;
}

.calendar-surround{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.surround-calendar-area{
    flex-basis: 55%;
    position: relative;
}

/* 달력 해더 css */
.fc-col-header-cell{
    background-color: #8FB788;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

/* 요일별 css */
.fc-day-fri a{
    color: #d4d4d4;
    font-size: 15px;
}


.fc-day-sun a{
    color: #ef4e4e69;
    font-size:15px;
}


.fc-day-sat a{
color: rgba(0, 4, 255, 0.3);
font-size:15px;
}

/* 달력 이벤트 제목 */
.fc-event-title{
    text-overflow: ellipsis;
}

.fc-h-event .fc-event-title{
    display: flex;
    font-size: 10px;
}


/* 달력 버튼 영역 */
.calendar-btn-area{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.calendar-btn-area div{
    width: 70px;
    height: 50px;

    text-align: center;
    line-height: 30px;

    border: 1px solid #8FB788;
    border-radius: 5px;

    background-color: white;
    color: #8FB788;
    box-shadow: 2px 2px 3px #d4d4d4;

    padding: 10px;
    margin: 0 10px 0 0;
    cursor: pointer;
    transition-duration: 0.3s;
}

.calendar-btn-area div:hover{
    background-color: #8FB788;
    color: white;
}

#date-div{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}


/* 그날 일정 css */
.todayList-surround{
    flex-basis: 40%;
    border: 2px solid #d4d4d4;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-surround{
    border: 1px solid #555;
    border-radius: 5px;
    flex-basis: 90%;
    width: 95%;
    overflow: auto;
}

.todo-surround > table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    
}

.todo-surround tr{
    border: 1px solid #d4d4d4;
}

.todo-surround th{
    padding: 5px;
    border: 1px solid #d4d4d4;
}

.todo-surround th:nth-child(1){ width: 10%;}
.todo-surround th:nth-child(2){ width: 12%;}
.todo-surround th:nth-child(3){ width: 12%;}
.todo-surround th:nth-child(4){ width: 10%;}
.todo-surround th:nth-child(5){ width: 10%;}

.todo-surround tbody td {
    font-size: 12px;
    text-align: center;
    border: 1px solid #d4d4d4;
}

#add-todo{
    padding: 10px;
    cursor: pointer;
    
}

#add-todo:hover{
    background-color: #d4d4d4;
}

.todo-surround tbody button{
    border-radius: 5px ;
    padding: 5px 0;
    cursor: pointer;
    transition-duration: 0.3s;
    width: 90%;
}

.todo-surround tbody button:hover{
    background-color: #d4d4d4 ;
    color: black;
}

.scheduleUpdate{
    border: 0;
    background-color: #8FB788;
    margin-top: 3px;
    margin-bottom: 3px;
    color: white;
   
}

.scheduleDelete{
    border: 1px solid #d4d4d4;
    background-color: white;
    color: red;

    margin-bottom: 3px;
}

/* 편집 팝업 영역 */
.edit-popup_box{	
    width:500px;
	max-height: 500px;}

/* 편집 팝업 내용 영역 */
.edit-popup_content > div{
    width: 90%;

    display: flex;
    flex-direction: column;
}

.edit-popup_content > div > div{margin-top: 10px;}


.edit-popup_content > div > div > span{
    display: inline-block;
    font-size: 18px;
    font-weight: 800px;
    width: 20%;
}

.edit-popup_content > div > div > input{
    font-size: 16px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #d4d4d4;
	border-radius: 5px;

}

.edit-popup_content > div > div > input[name='scheduleName']{
    width: 70%;
}

#calendarCategory{
    font-size: 16px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #d4d4d4;
	border-radius: 5px;
}

/* .content-detail-section{
    width: 1200px;
} */

